.header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 40px;

    @include respond-to('medium-landscape') {
      font-size: 30px;
    }
  }
  
}
